{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="subjecttype-edit-container" >
            {{ form_start(form) }}
            <div class="orange-header">
                <div>Редактирование</div>
            </div>
            <div class="underlined-block">
                <div class="text-center">
                    {{ form_row(form.stype)}}
                </div>
            </div>
            <div class="subject-list embedded-form">
                <div class="form-collection-container" data-only-input="true" data-count="{{ form.subjects|length }}" data-prototype="{{ form_widget(form.subjects.vars.prototype)|e }}">
                    {% for subject in form.subjects %}
                        <div class="form-collection-element">
                            {{ form_errors(subject) }}
                            {{ form_widget(subject.subject) }}   
                        </div>                     
                    {% endfor %}
                </div>
                <div>
                    <a href="#" class="add-new-element" >Добавить дисциплину</a>
                </div>
            </div>

            {% do form.subjects.setRendered %}
            <div class="buttons-container">
                <input class="save-button right" type="submit" value="Сохранить"/>

                {{ form_end(form) }}  
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <input class="delete-button left" type="submit" value="Удалить">
                    {{ form_end(delete_form) }}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}




{% block javascripts %}
    {{parent()}}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.embedded-form .add-new-element').on('click', function (e) {
                e.preventDefault();

                var list = $(this).parents('.embedded-form').find('.form-collection-container');

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                var count = list.data('count');
                newWidget = newWidget.replace(/__name__/g, count);
                count++;
                list.data('count', count);

                // create a new list element and add it to the list
                var newLi = $('<div class="form-collection-element"></div>').html(newWidget);
                
                if (list.data('onlyInput')) {
                    var input = newLi.find('input');
                    newLi.html('').append(input);
                }
                
                newLi.appendTo(list);

                addDeleteLink(newLi);
            });

            // add a delete link to all of the existing tag form li elements
            $('.form-collection-container').find('.form-collection-element').each(function () {
                addDeleteLink($(this));
            });

            function addDeleteLink($formLi) {
                var $removeLi = $('<a href="#">Удалить</a>');
                $formLi.append($removeLi);

                $removeLi.on('click', function (e) {
                    e.preventDefault();
                    $formLi.remove();
                });
            }
        });
    </script>
{% endblock %}
