{% extends 'base.html.twig' %}

{% block body %}
    <div class="white-container thin-container text-center" >
        {{ form_start(form) }}
        <div class="orange-header">
            <div>Редактирование</div>
        </div>
        <div class="underlined-block block">
            <div class="st-name">
                <div class="left-block label opacity-text">
                    Предмет :
                </div>
                <div class="right-block">
                    {{ form_widget(form.stype)}}
                </div>
            </div>
        </div>
        <div id="subjects-list" class="subject-list embedded-form underlined-block ">
            <div class="form-collection-container" data-only-input="true" data-count="{{ form.subjects|length }}" data-prototype="{{ form_widget(form.subjects.vars.prototype)|e }}">
                {% for subject in form.subjects %}
                    <div class="form-collection-element">
                        {{ form_errors(subject) }}
                        {{ form_widget(subject.subject) }}
                    </div>                     
                {% endfor %}
            </div>
        </div>

        {% do form.subjects.setRendered %}
        <div class="right-block">
            <button type="submit" class="blue-href" >
                <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/save-blue.png')}}"/></div>
                <div class="left-block">Сохранить</div>
            </button>  
        </div>
        <div class="right-block">
            <a href="#" data-container="subjects-list" class="green-href add-new-element right-block">
                <img class="button-image" src="{{asset('bundles/app/img/new.png')}}"/>
                Добавить дисциплину
            </a>
        </div>
        {{ form_end(form) }}  
        {% if delete_form is defined %}
            {{ form_start(delete_form) }}
            <div class="right-block">
                <button type="submit" class="red-href" >
                    <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/delete.png')}}"/></div>
                    <div class="left-block">Удалить</div>  
                </button>
            </div>
            {{ form_end(delete_form) }}
        {% endif %}


    </div>
{% endblock %}




{% block javascripts %}
    {{parent()}}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.add-new-element').on('click', function (e) {
                e.preventDefault();
                var list = $(this).parents('.embedded-form').find('.form-collection-container');

                if ($(this).data('container')) {
                    list = $('#' + $(this).data('container')).find('.form-collection-container');
                }



                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                var count = list.data('count');
                newWidget = newWidget.replace(/__name__/g, count);
                count++;
                list.data('count', count);

                // create a new list element and add it to the list
                var newLi = $('<div class="form-collection-element"></div>').html(newWidget);

                if (list.data('onlyInput')) {
                    var input = newLi.find('input');
                    newLi.html('').append(input);
                }

                newLi.appendTo(list);

                addDeleteLink(newLi);
            });

            // add a delete link to all of the existing tag form li elements
            $('.form-collection-container').find('.form-collection-element').each(function () {
                addDeleteLink($(this));
            });

            function addDeleteLink($formLi) {
                var $removeLi = $('<a href="#"><img class="button-image" src="{{asset('bundles/app/img/delete.png')}}"/></a>');
                $formLi.append($removeLi);

                $removeLi.on('click', function (e) {
                    e.preventDefault();
                    $formLi.remove();
                });
            }
        });
    </script>
{% endblock %}
