{% extends 'base.html.twig' %}

{% block body %}
    <h1>Справочник дисциплин</h1>

    <table>
        <thead>
            <tr>
                <th>Тип дисциплины</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for subjectType in subjectTypes %}
            <tr>
                <td><a href="{{ path('subjecttype_show', { 'idStype': subjectType.idStype }) }}">{{ subjectType.stype }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subjecttype_show', { 'idStype': subjectType.idStype }) }}">Показать</a>
                        </li>
                        <li>
                            <a href="{{ path('subjecttype_edit', { 'idStype': subjectType.idStype }) }}">Корректировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subjecttype_new') }}">Новая дисциплина</a>
        </li>
    </ul>
{% endblock %}
