{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subjecttypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Stype</th>
                <th>Idstype</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subjectType in subjectTypes %}
            <tr>
                <td><a href="{{ path('subjecttype_show', { 'idStype': subjectType.idStype }) }}">{{ subjectType.stype }}</a></td>
                <td>{{ subjectType.idStype }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subjecttype_show', { 'idStype': subjectType.idStype }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subjecttype_edit', { 'idStype': subjectType.idStype }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subjecttype_new') }}">Create a new subjectType</a>
        </li>
    </ul>
{% endblock %}
