{% extends 'base.html.twig' %}

{% block body %}
    <h1>Дисциплина</h1>

    <table>
        <tbody>
            <tr>
                <th>Дисциплина</th>
                <td>{{ subjectType.stype }}</td>
            </tr>
        </tbody>
    </table>
{% for subj in subjectType.subjects %}
{{subj.subject}}
{% endfor %}
    <ul>
        <li>
            <a href="{{ path('subjecttype_index') }}">Назад</a>
        </li>
        <li>
            <a href="{{ path('subjecttype_edit', { 'idStype': subjectType.idStype }) }}">Корректировать</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
