
<div class="popup services-edit">
    <div class="orange-header text-center">
        <div class="text">Редактировать</div>
    </div>
    <div class="popup-content text-center form-horizontal">
        {{ form_start(edit_form, {'action':path('adservices_edit',{'idServices':app.request.get('idServices')})}) }}
        <div class="services-main">
            {{ form_widget(edit_form.services) }}
            {{ form_widget(edit_form.price) }}
        </div>
        <div class="services-description full-size-field">
            {{ form_widget(edit_form.description) }}
        </div>
        <div class="text-buttons right-block">
            <button type="submit" class="green-href " >
                <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/save-green.png')}}"/></div>
                <div class="left-block">Сохранить</div>
            </button> 
        </div>
        {{ form_end(edit_form) }}
        {{ form_start(delete_form) }}
        <div class="text-buttons left-block">
            <button type="submit" class="red-href" >
                <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/delete.png')}}"/></div>
                <div class="left-block">Удалить</div>
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>

