{% extends 'base.html.twig' %}

{% block body %}
    <h1>Справочник сервисов</h1>

    <table>
        <thead>
            <tr>
                <th>Сервис</th>
                <th>Стоимость</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for adService in adServices %}
            <tr>
                <td><a href="{{ path('adservices_show', { 'idServices': adService.idServices }) }}">{{ adService.services }}</a></td>
                <td>{{ adService.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adservices_show', { 'idServices': adService.idServices }) }}">Подробнее</a>
                        </li>
                        <li>
                            <a href="{{ path('adservices_edit', { 'idServices': adService.idServices }) }}">Корректировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adservices_new') }}">Новый сервис</a>
        </li>
    </ul>
{% endblock %}
