<div class="popup subject-edit">
    <div class="popup-header">
        <div class="text">Редактировать</div>
    </div>
    <div class="popup-content text-center">
        {{ form_start(edit_form, {'action':path('subjects_edit',{'idSubject':app.request.get('idSubject')})}) }}
        {{ form_widget(edit_form) }}
            <input class="save-button right" type="submit" value="Сохранить" />
        
        {{ form_end(edit_form) }}
        {{ form_start(delete_form) }}
        <input class="delete-button left" type="submit" value="Удалить">
        {{ form_end(delete_form) }}
    </div>
        
</div>