{% extends 'base.html.twig' %}

{% block body %}
    <div class="header-bottom colored-container">
        <div class="howsmart-head">
            <div>HOWSMART.UA</div>
            <div>Лучшие репетиторы Украины</div>                
        </div>
        <div class="howsmart-about">
            <div>Нужен репетитор?</div>
            <div>С помощью howsmart ищите репетитора в своем городе или учитесь онлайн.</div>
            <div>Мы поможем вам стать умнее!</div>
        </div>
    </div>
    {{ form_start(form)}}
    <div class="serrated-yellow search-container">    
        <div class="search-form block">
            <div class="col1">
                <div class="search-area">
                    {{ form_widget(form.search, {'attr':{'placeholder':"Предмет"}})}}
                </div>
            </div>
            <div class="col2">
                <div class="search-area">
                    {{ form_widget(form.town, {'attr':{'placeholder':"Город"}})}}   
                </div>
            </div>
            <div class="col3">
                <div class="search-area">
                    <input class="save-button" type="submit" value="Поиск" />
                </div>
            </div>              
            <a class="dashed-href" onclick="$('.extra-search-container').toggleClass('hidden')">расширенный поиск</a> 
        </div>

    </div>
    <div class="extra-search-container hidden">
        <div class="search-form block">
            <div class="col1">
                <div class="search-area">
                    {{ form_widget(form.area, {'attr':{'placeholder':"Область"}})}}
                </div>
                <div class="search-place">
                    {{ form_widget(form.place, {'placeholder':"Место проведения"})}}
                </div>
            </div>
            <div class="col2">
                <div class="search-price">
                    <span class="opacity-text price-label">Цена:</span>
                    <span class=" min">
                        {{ form_widget(form.pricemin, {'attr':{'placeholder':"от"}})}}
                    </span>
                    <span class="max">
                        {{ form_widget(form.pricemax, {'attr':{'placeholder':"до"}})}}
                    </span>
                </div>
                <div class="search-currency">
                    {{ form_widget(form.currency, {'placeholder':"Валюта"})}}
                </div>

            </div>
            <div class="col3">
                <input class="save-button" type="submit" value="Поиск" />
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="serrated-gray">
        {% for ad in ads %}
            <div class="wide-container">
                <div class="block">
                    <div class="photo-block image-with-overlay-label left-block">
                        {% if ad.top==1 %}
                            <span class="overlay-label top-label"> В ТОПе </span>                            
                        {% endif %}
                        {% if ad.user.photo %}
                            <img src="{{photo_path}}{{ad.user.photo}}">
                        {% else %}
                            <img src="{{ asset('bundles/app/img/no-img.png') }}">
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class='teacher-phone'>{{ ad.user.phone }}</div>
                        {%else%}
                            <div class="no-phone">Видеть номер преподавателя могут только зарегистрированные пользователи.</div>
                        {%endif%}
                    </div>
                    <div class="info-block white-container short-block right-block">
                        <div class="ad-head">    
                            <div class='left-block'>
                                <div class="teacher-name"><a href="{{path('user_show', {'id': ad.user.id})}}">{{ ad.user }}</a></div>
                                <div class="ad-subject">{{ ad.subject}}</div>
                            </div>
                            <div class='right-block'>
                                <div class="teacher-rating">{{ ad.user.rating}}</div>
                            </div>
                        </div>
                        <div class="ad-content">
                            <div class='date'>
                                <span class="opacity-text">{{ ad.adate|date('d-m-Y') }}</span>
                                <a class="blue-href right-block" href="{{ path('ad_show', { 'idAd': ad.idAd }) }}">
                                    <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/view.png')}}"></div>
                                    <div class="left-block">Просмотр</div>
                                </a> 
                            </div>
                            <div class='ad-description'>{{ ad.adText }}</div>
                        </div>
                        <div class="ad-footer">
                            <div class="ad-place cell">
                                <div class='ad-town'>{{ ad.town }}</div>
                                <div class='ad-area'>{{ ad.area }}</div>
                            </div>     
                            <div class="ad-type cell">
                                {{ad.place}}
                            </div>
                            <div class="ad-online cell">
                                Уроки online
                                {% if ad.online==1%}
                                    <img class="yes-no-image" src="{{ asset('bundles/app/img/yes.png') }}">
                                {%else%}
                                    <img class="yes-no-image" src="{{ asset('bundles/app/img/no.png') }}">
                                {%endif%}
                            </div>

                            <div class="ad-price cell">
                                {{ ad.price }}{{ ad.currency }}/{{ ad.durability }}{{ ad.value }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="place-cv colored-container">
        <div class="place-cv-text">
            <div class="place-cv-head">
                Разместите своё резюме!
            </div>
            <div>
                Ученики смогут найти вас и предложить отличную работу.
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
            <div class="place-cv-button">
                <a class="green-button" href="{{ path('user_show', { 'id': app.user.getId() }) }}">Создать резюме</a>
            </div>
        {%else%}
            <div class="place-cv-button">
                <a class="green-button" href="{{ path("fos_user_security_login") }}">Создать резюме</a>
            </div>
        {%endif%}
    </div>
{% endblock %}
