{% extends 'base.html.twig' %}

{% block body %}
            

            
            <h1>Объявления</h1>

    <table>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td>{{ ad.user }}</td>
                <td>{{ ad.user.rating}}</td>
                <td>{{ ad.subject}}</td>
                <td> <img src="{{photo_path}}{{ad.user.photo}}" alt="user" style="width:304px;height:228px;"> </td>
                <td><a href="{{ path('ad_show', { 'idAd': ad.idAd }) }}">{% if ad.adate %}{{ ad.adate|date('Y-m-d') }}{% endif %}</a></td>
                <td>{{ ad.adText }}</td>
                <td>{{ ad.price }}</td>
                <td>{{ ad.currency }}</td>
                <td>{{ ad.durability }}</td>
                <td>{{ ad.value }}</td>
                <td>{{ ad.region }}</td>
                <td>{{ ad.town }}</td>
                <td>{{ ad.area }}</td>
                <td>{{ ad.place }}</td>
                {% if ad.online==1%}
                    <td>Да</td>
                {%else%}
                    <td>Нет</td>
                {%endif%}

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}