{% extends 'base.html.twig' %}

{% block body %}
    <div class="narrow-container white-container">
        {{ form_start(edit_form) }}
        <div class="orange-header text-center">
            Редактирование
        </div>
        <div class="ad-edit-content">
            <div class="ad-row">
                <div class="left-block">
                    Предмет
                </div>
                <div class="right-block">
                    {{ form_widget(edit_form.subject) }}
                </div>
            </div>
            <div class="ad-row form-horizontal underlined-block">                
                <div class="full-size-field">
                    {{ form_widget(edit_form.adText) }}
                </div>
            </div>

            <div class="ad-row">
                <div class="left-block">
                    Область
                </div>
                <div class="right-block">
                    {{ form_widget(edit_form.region) }}
                </div>
            </div>
            <div class="ad-row">
                <div class="left-block">
                    Город
                </div>
                <div class="right-block">
                    {{ form_widget(edit_form.town) }}
                </div>
            </div>
            <div class="ad-row underlined-block">
                <div class="left-block">
                    Район
                </div>
                <div class="right-block">
                    {{ form_widget(edit_form.area) }}
                </div>
            </div>
            <div class="ad-row">
                <div class="left-block">
                    Место проведения
                </div>
                <div class="right-block">
                    {{ form_widget(edit_form.place) }}
                </div>
            </div>
            <div class="ad-row underlined-block">
                <div class="left-block">
                    Онлайн-уроки
                </div>
                <div class="right-block">
                    {{ form_widget(edit_form.online) }}
                </div>
            </div>
            <div class="ad-row">
                <div class="left-block">
                    Цена
                </div>
                <div class="right-block edit-price">
                    {{ form_widget(edit_form.price) }}{{ form_widget(edit_form.currency) }}
                </div>
            </div>
            <div class="ad-row underlined-block">
                <div class="left-block">
                    Время
                </div>
                <div class="right-block edit-durability">
                    {{ form_widget(edit_form.durability) }}{{ form_widget(edit_form.value) }}
                </div>
            </div>

            <div class="ad-row underlined-block">
                <div class="left-block">
                    Тип размещения
                </div>
                <div class="right-block">
                    {{ form_widget(edit_form.services) }}
                </div>
            </div>
        </div>
        <button type="submit" class="blue-href left-block" >
            <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/save.png')}}"/></div>
            <div class="left-block">Сохранить</div>
        </button> 

        {{ form_end(edit_form) }}

        {{ form_start(pay_form) }}
        <button type="submit" class="green-href left-block" >
            <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/sent.png')}}"/></div>
            <div class="left-block">На публикацию</div>
        </button>
        {{ form_end(pay_form) }}

        {{ form_start(pay_form) }}
        <button type="submit" class="yellow-href left-block" >
            <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/pay.png')}}"/></div>
            <div class="left-block">Оплатить</div>
        </button>
        {{ form_end(pay_form) }}
        {{ form_start(delete_form) }}
        <button type="submit" class="red-href left-block" >
            <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/delete.png')}}"/></div>
            <div class="left-block">Удалить</div>
        </button>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
