{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редактирование объявления</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Сохранить" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('ad_index') }}">Назад</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
            
            <h1>Выберите сервис</h1>

   {{ form_start(serv_form) }}
        {{ form_widget(serv_form) }}
        <input type="submit" value="Заказать" />
    {{ form_end(serv_form) }}
{% endblock %}
