{% extends 'base.html.twig' %}

{% block body %}
    <h1>Мои объявления</h1>

    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Дисциплина</th>
                <th>Цена</th>
                <th>Валюта</th>
                <th>Длительность</th>
                <th>Время</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('ad_show', { 'idAd': ad.idAd }) }}">{% if ad.adate %}{{ ad.adate|date('Y-m-d') }}{% endif %}</a></td>
                <td>{{ ad.adText }}</td>
                <td>{{ ad.price }}</td>
                <td>{{ ad.currency }}</td>
                <td>{{ ad.durability }}</td>
                <td>{{ ad.value }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ad_show', { 'idAd': ad.idAd }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ad_edit', { 'idAd': ad.idAd }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ad_new') }}">Create a new ad</a>
        </li>
    </ul>
{% endblock %}
