{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ad</h1>

    <table>
        <tbody>
            <tr>
                <th>Преподаватель</th>
                <td>{{ ad.user }}</td>
            </tr>
            <tr>
                <th>Дата публикации</th>
                <td>{% if ad.adate %}{{ ad.adate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Текст объявления</th>
                <td>{{ ad.adText }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ ad.price }} {{ ad.currency }}</td>
            </tr>
            <tr>
                <th>За</th>
                <td>{{ ad.durability }}{{ ad.value }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ad_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
