{% extends 'base.html.twig' %}

{% block body %}
    <div class='ad-full-container wide-container'>
        <div class="block">
            <div class='photo-block left-block image-with-overlay-label'>
                <span class="overlay-label">{{ ad.user.rating }}</span>
                {% if ad.user.photo %}
                    <img src="{{photo_path}}{{ad.user.photo}}">
                {% else %}
                    <img src="{{ asset('bundles/app/img/no-img.png') }}">
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class='teacher-phone'>{{ ad.user.phone }}</div>
                {%else%}
                    <div class="no-phone">Видеть номер преподавателя могут только зарегистрированные пользователи.</div>
                {%endif%}
            </div>
            <div class='info-block {{ad.services ? ad.services.idServices ==2 ? 'peach-container' : 'white-container':'white-container'}}  short-block right-block'>
                <div class='ad-head'>
                    <div class='left-block'>
                        <div class="teacher-name"><a href="{{path('user_show', {'id': ad.user.id})}}">{{ ad.user }}</a></div>
                        <div class="ad-subject">{{ ad.subject}}</div>
                    </div>
                    <div class='right-block'>
                        <div class='ad-date'>{% if ad.adate %}{{ ad.adate|date('d-m-Y') }}{% endif %}</div>
                    </div>
                </div>
                <div>
                    <div class='teacher-content'>
                        {{ ad.user.about }}
                    </div>
                    <div class='teacher-footer'>
                        <div class='teacher-education cell'>
                            {{ ad.user.education }}
                        </div>
                        <div class='teacher-university cell'>
                            {{ ad.user.university }}
                        </div>
                        <div class='teacher-experience cell'>
                            {{ ad.user.experience }}
                        </div>
                    </div>

                    <div class='ad-content'>
                        {{ ad.adText }}
                    </div>
                    <div class='ad-footer'>
                        <div class='ad-place cell'>
                            <div class='ad-town'>{{ ad.town }}</div>
                            <div class='ad-area'>{{ ad.area }}</div>
                        </div>
                        <div class='ad-type cell'>
                            {{ ad.place }}
                        </div>
                        <div class='ad-online cell'>
                            Уроки online
                            {% if ad.online==1%}
                                <img class="yes-no-image" src="{{ asset('bundles/app/img/yes.png') }}">
                            {%else%}
                                <img class="yes-no-image" src="{{ asset('bundles/app/img/no.png') }}">
                            {%endif%}
                        </div>
                        <div class='ad-price cell'>
                            {{ ad.price }} {{ ad.currency }}/{{ ad.durability }}{{ ad.value }}
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class='review-container'>
        <div class='orange-header text-center'> Отзывы: </div>
        <div class="white-container wide-container short-block">
            {% if comments | length%}

                {% for comments in comments %}
                    <div class="messages-item underlined-block">
                        <div class="block">
                            <div class='left-block messages-photo'>
                                {% if comments.user.photo %}
                                    <img src="{{photo_path}}{{comments.user.photo}}" >
                                {%else%}
                                    <img src="{{ asset('bundles/app/img/no-img.png') }}" >
                                {%endif%}

                            </div>
                            <div class="messages-content right-block">
                                <div class="message-data opacity-text">{{comments.rdate|date("m.d.Y")}}</div>
                                <div class="message-data">{{comments.user.name}}</div>
                                <div class="message-data"><span class="opacity-text">Оценка:</span>{{comments.rating}}</div>
                                <div class="message-data">{{comments.review}}</div>

                            </div>
                        </div>
                    </div>
                {% endfor %}


            {% else %}
                <div class='no-content underlined-block'>
                    Пока что нет отзывов об этом преподавателе или уроках, которые он проводит.
                </div>
            {%endif%}
            {% if is_granted('IS_AUTHENTICATED_FULLY') and notuser %}
                {% if confirm==1 %}
                    {{ form_start(form)}}
                    <div class="review-form messages-item underlined-block">
                        <div class="review-rating">
                            <span class="opacity-text">Оценка:</span>
                            {{ form_widget(form.rating)}}
                        </div>
                        <div class="form-horizontal">
                            <div class="opacity-text">Комментарий:</div>
                            <div class="review-comment full-size-field">{{ form_widget(form.review)}}</div>
                        </div>
                        <div class="buttons-container">
                            <div class="right-block">
                                <input class="green-submit" type="submit" value="Отправить" />
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                {% elseif confirm==2 %}
                    <div class="messages-item underlined-block form-horizontal">
                        <div class="attention-header">
                            ! Чтобы получить возможность оценки преподавателя необходимо получить подтверждение о том, что Вы являетесь его учеником !
                        </div>
                        {{ form_start(query_form)}}
                        <div class="full-size-field">
                            {{ form_widget(query_form.queryText)}}
                        </div>
                        <div class="buttons-container">
                            <div class="right-block">
                                <input class="green-submit" type="submit" value="Отправить" />
                            </div>
                        </div>
                        {{ form_end(query_form) }}
                    </div>
                {% elseif confirm==0 %}
                    <div class="messages-item underlined-block">
                        <div class="attention-header">
                            Преподаватель еще не подтвердил, что Вы являетесь его учеником.
                        </div>
                    </div>
                {% elseif confirm==3 %}
                    <div class="messages-item underlined-block">
                        <div class="attention-header">
                            Вы уже оставили свой отзыв.
                        </div>
                    </div>
                {% endif %}
            {%endif%}
        </div>
    </div>
{% endblock %}
