{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="user-edit-container">
            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="user-photo">
                {{ form_widget(edit_form.photoFile)}}
            </div>
            <div class="user-info">
                <div class="user-description-part form-block">
                    <div class="surname">{{ form_row(edit_form.surname)}}</div>
                    <div class="name">{{ form_row(edit_form.name)}}</div>  
                    <div class="patronymic">{{ form_row(edit_form.patronymic)}}</div>
                    <div class="phone">{{ form_row(edit_form.phone)}}</div>
                </div>
                <div class="user-description-part form-block">
                    <div class="education">{{ form_row(edit_form.education)}}</div>
                    <div class="university">{{ form_row(edit_form.university)}}</div>
                    <div class="experience">{{ form_row(edit_form.experience)}}</div>
                </div>
                <div class="user-description-part full-size-field form-block">
                    <div class="about">{{ form_widget(edit_form.about, {'attr': {'placeholder': edit_form.about.vars.label} })}}</div>
                </div>
            </div>

            <div class="buttons-container">
                <div class="right">
                    <input class="save-button" type="submit" value="Сохранить" />
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
