{% extends 'base.html.twig' %}

{% block body %}
    <div class="wide-container">
        <div class="block">
            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="photo-block left-block">
                {% if user.photo %}
                {% else %}
                    <img src="{{ asset('bundles/app/img/no-img.png') }}">
                {% endif %}
                {{ form_widget(edit_form.photoFile)}}
            </div>
            <div class="info-block white-container right-block">
                <div class="underlined-block form-block">
                    <div class="surname">{{ form_row(edit_form.surname)}}</div>
                    <div class="name">{{ form_row(edit_form.name)}}</div>  
                    <div class="patronymic">{{ form_row(edit_form.patronymic)}}</div>
                    <div class="phone">{{ form_row(edit_form.phone)}}</div>
                </div>
                <div class="underlined-block form-block">
                    <div class="education">{{ form_row(edit_form.education)}}</div>
                    <div class="university">{{ form_row(edit_form.university)}}</div>
                    <div class="experience">{{ form_row(edit_form.experience)}}</div>
                </div>
                <div class="underlined-block full-size-field form-block">
                    <div class="about">{{ form_widget(edit_form.about, {'attr': {'placeholder': edit_form.about.vars.label} })}}</div>
                </div>
                <div class="text-buttons">
                    <button type="submit" class="green-href right-block" >
                        <div class="left-block"><img class="button-image" src="{{asset('bundles/app/img/save-green.png')}}"/></div>
                        <div class="left-block big-text">Сохранить</div>
                    </button> 
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
