{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <tbody>
             {{ form_start(form)}}
                <div class="col1">
                    <div class="search-area">
                        {{ form_widget(form.search, {'attr':{'placeholder':"Имя"}})}}
                    </div>
                                    <div class="col3">
                    <input class="save-button" type="submit" value="Поиск" />
                </div>
                </div>
                    {{ form_end(form)}}
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.patronymic }}</td>
                <td>{{ user.surname }}</td>
                <td> <img src="{{photo_path}}{{user.photo}}" alt="user" style="width:304px;height:228px;"> </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
