{% extends 'base.html.twig' %}

{% block body %}
    <h1>Профиль</h1>

    <table>
        <tbody>

            <tr>
                <th>Имя</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ user.patronymic }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ user.surname }}</td>
            </tr>

            <tr>
                <th>Фотография</th>
                <td> <img src="{{photo_path}}{{user.photo}}" alt="user" style="width:304px;height:228px;"> </td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Обо мне</th>
                <td>{{ user.about }}</td>
            </tr>
            <tr>
                <th>Рейтинг</th>
                <td>{{ user.rating }}</td>
            </tr>
            <tr>
                <th>Образование</th>
                <td>{{ user.education}}</td>
            </tr>
            <tr>
                <th>Учебное заведение</th>
                <td>{{ user.university }}</td>
            </tr>
            <tr>
                <th>Опыт работы</th>
                <td>{{ user.experience }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
