{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-messages-container">

        <div class="white-container wide-container short-block">
            <div class="orange-header text-center">
                Сообщения
            </div>
            <div class="text-buttons">
                <a class="green-href right" href="{{ path('user_index') }}">
                    <div class="left-block"><img class="search-image" src="{{asset('bundles/app/img/search.png')}}"></div>
                    <div class="left-block">Поиск пользователей</div>
                </a> 
            </div>
            {% if messages | length%}
                {% for message in messages %}
                    <div class="user-messages-item messages-item underlined-block">
                        <div class="block">
                            <div class="left-block messages-photo">
                                {% if message.photo %}
                                    <img src="{{photo_path}}{{message.photo}}">
                                {% else %}
                                    <img src="{{ asset('bundles/app/img/no-img.png') }}">
                                {% endif %}
                            </div>

                            <div class="right-block messages-content">
                                <div class="user-name">{{ message.name }} {{ message.surname  }}</div>
                                <div class="text-buttons">
                                    <a class="blue-href left" href="{{ path('messages_show', { 'idMes': message.id }) }}">
                                        <div class="left-block"><img class="view-image" src="{{asset('bundles/app/img/view.png')}}"></div>
                                        <div class="left-block">Просмотр</div>
                                    </a>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>
                {% endfor%}
            {% else %}
                <div class="no-content underlined-block">
                    У вас пока нет cообщений.
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
