{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages list</h1>

    <table>

        <tbody>
        {% for message in messages %}
            <tr>
               <td>{{ message.dateMes|date('Y-m-d') }}</td>
                <td>{{ message.sender }} </td>
                <td>{{ message.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Message edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
{% endblock %}
