
<div class="adquery-edit">
    <div class="popup">
        <div class="popup-header">
            <div class="text">Запрос на подверждение</div>
        </div>
        <div class="popup-content">
            <div class="messages-item">
                <div class="block">
                    <div class="left-block messages-photo">
                        {% if adQuery.user.photo %}
                            <img src="{{photo_path}}{{adQuery.user.photo}}" >
                        {%else%}
                            <img src="{{ asset('bundles/app/img/no-img.png') }}" >
                        {%endif%}
                    </div>
                    <div class="left-block messages-content">
                        <div class="user-name">{{ adQuery.user }}</div>
                        <div class="query-text">{{ adQuery.queryText }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-container">
            {{ form_start(confirm_form) }}
            <input class="save-button right" type="submit" value="Подтвердить">
            {{ form_end(confirm_form) }}
            {{ form_start(delete_form) }}
            <input class="delete-button left" type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </div> 
    </div>
</div>



